*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

.slide{
    position: relative;
    width: 800px;
    height: 300px;
    background-color: aliceblue;
    border: 2px solid black;
    margin-top: 15%;
    margin-left: 10%;
    overflow: hidden;
}

.window{
    position: absolute;
    width: 3200px;
    height: 300px;
    animation: 5s infinite linear window;
    display: flex;
}

li{
    width: 800px;
    height: 300px;
}

.window > li:nth-child(1){
    background-color: aquamarine;
}

.window > li:nth-child(2){
    background-color: aqua;
}

.window > li:nth-child(3){
    background-color: pink;
}

.window > li:nth-child(4){
    background-color: aquamarine;
}

@keyframes window{
    0%{
        left: 0%;
    }

    23%{
        left: 0%;
    }

    33%{
        left: -800px;
    }

    56%{
        left: -800px;
    }

    66%{
        left: -1600px;
    }

    90%{
        left: -1600px;
    }

    100%{
        left: -2400px;
    }
}