*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

ul li{
    list-style: none;
}

.slide{
    position: relative;
    width: 800px;
    height: 300px;
    border: 3px solid black;
    /* overflow: hidden; */
}

.window{
    position: absolute;
    width: 3200px;
    height: 300px;
    animation: 5s infinite linear window;
    display: flex;
}

li{
    width: 800px;
    height: 300px;
}

@keyframes window{
    0%{
        left: 0%;
    }

    23%{
        left: 0%;
    }

    33%{
        left: -800px;
    }

    56%{
        left: -800px;
    }

    66%{
        left: -1600px;
    }

    90%{
        left: -1600px;
    }

    100%{
        left: -2400px;
    }
}